@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To MVC Applicataions</h1>
    <p1>This App is Running in Azure App Service via Git</p1>
    <p2>Page is loaded @DateTime.Now.ToString()</p2>
   </div>
